.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0; 
  background: linear-gradient(135deg, #ff758c, #f17eb3, #ffb199);
  background-attachment: fixed;
  color: white;
}

.footer__container {
  max-width: 1200px;
  margin:0 auto;
}

.footer__nav {
  list-style: none;
  padding: 0;
  display: inline;
  margin: 0 10px;
}

.footer__nav {
  color: white;
  text-decoration: none;
}

.footer__social-links {
  color: white;
  margin: 0 5px;
  text-decoration: none;
}
